<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 400px"></div>
<h1>All Campgrounds</h1>

<% for (let campground of campgrounds) { %>
<div class="card mb-3 shadow-sm">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images.length){ %>
      <img
        class="img-fluid"
        src="<%= campground.images[0].url %>"
        alt=" campground image"
      />
      <%} else {%>
      <img
        class="img-fluid"
        src="https://www.switchbacktravel.com/sites/default/files/articles%20/Camping%20tent%20%28REI%20Co-op%20Base%20Camp%206%20m%29.jpg"
        alt=""
      />
      <%}%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location %></small>
        </p>
        <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary"
          >View <%= campground.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% } %>

<script>
  const mbxToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>}
</script>
<script src="/js/clusterMap.js"></script>
